body{
  margin-left: 20%;
  margin-right: 20%;
}
h3{
  font-size: 20px;
}
.blue{
  background: lightskyblue;
}
.green{
  background: lightgreen;
}

img{
  width: 200px;
  height: 200px;
}
div{
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}
h2{
  margin-top: 30px;
}
input{
  width: 200px;
  border-radius: 5px;
}
button{
  width: 100px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
